@font-face {
	font-family: "Inter";
	font-weight: 400;
	src: url("../fonts/inter-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	font-weight: 700;
	src: url("../fonts/inter-700.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	font-weight: 900;
	src: url("../fonts/inter-900.woff2") format("woff2");
	font-display: swap;
}

/* GLOBAL VALUES */
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
	font-family: "Inter", sans-serif;
  font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #565C66;
}

.cite-color-pink {
  background-color: #FEAFC3;
}

.cite-color-blue {
  background-color: #69A9FF;
}

.cite-color-yellow {
  background-color: #FCC850;
}

.page-setting {
  width: 1170px;
  margin: 0 auto;
}

.global-list {
	list-style-type: none;
}

.main-style-button	{
  padding: 12px 32px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #2D3440;
  box-sizing: border-box;
  border: none;
  border-radius: 26px;
  border: 4px solid #FFCBD8;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  background-color: #FCFCFC;
  text-align: center;
	text-decoration: none;
  margin: -4px;
  
}

.main-style-button:hover {
  background-color: #FFCBD8;
  border: 4px solid #FCFCFC;
}

.main-style-button:focus {
  outline: 0;
  background-color: #FFFFFF;
  border: 4px solid #2D3440;
}

.main-style-button:active {
  background-color: #FCC850;
}

.main-style-button:disabled {
  color: #B9B9B9;
  background-color: #E7E7E7;
}


.second-style-button {
  padding: 12px 32px;
  font-family: "inter", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #FCFCFC;
  border-radius: 26px;
  border: 4px solid #FFCBD8;
	text-decoration: none;
  background-color: #FF2F64;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  margin: -4px;
  

}

.second-style-button:hover {
  color: #2D3440;
  background-color: #FCFCFC;;
  border: 4px solid #FF2F64;
}

.second-style-button:focus {
  outline: 0;
  background-color: #FF2F64;
  border: 4px solid #2D3440;
}

.second-style-button:active {
  background-color: #FCC850;
}

.second-style-button:disabled {
  color: #565C66;
  background-color: #B9B9B9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}


/* MAIN HEADER */

.index-page {
  margin-top: 21px;
}

.main-navigation {
  display: flex;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto;
}

.navigation-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.navigation-item {
  position: relative;
  padding: 10px 0;
}

.navigation-logo {
  display: flex;
  margin-right: 16px;
  cursor: pointer;
}

.navigation-logo:hover {
  filter: brightness(0) saturate(100%) invert(95%) sepia(5%) saturate(0%) hue-rotate(5deg) brightness(102%) contrast(105%);
}

.navigation-logo:focus {
  outline: 2px solid #2D3440;
}

.navigation-logo:active {
  outline: none;
}

.submenu-list {
  display: none;
  width: 138px;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  top: 56px;
  box-sizing: border-box;
  background-color: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  z-index: 1;
}

.navigation-item:hover .submenu-list {
  display: block;
}

.navigation-button:focus-within ~ .submenu-list {
  display: block;
}

.submenu-item {
  position: relative;
  display: flex;
}

.submenu-item:last-child {
  margin-bottom: 12px;
}

.submenu-special-item {
  padding-bottom: 12px;
  font-weight: 700;
}

.submenu-special-item::after {
  content: "";
  position: absolute;
  display:inline-block;
  width: 106px;
  height: 1px;
  background-color: #B9B9B9;
  top: 38px;
  left: 17px;
}

.submenu-link {
  flex-grow: 1;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
  padding: 6px 16px;
}

.submenu-link:hover {
  background-color: #FFCBD8;
}

.submenu-link:focus {
  outline: none;
  background-color: #FF7799;
}

.submenu-link:active {
  background-color: #FF4A78;
  color: #FCFCFC;
}

.user-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
}

.user-item {
  position: relative;
}

.user-item:not(:last-child) {
  margin-right: 16px;
}

.user-item:first-child {
  margin-right: 8px;
}

.navigation-button {
  display: block;
	line-height: 20px;
	text-align: center;
  padding: 8px 16px;
	color: #2D3440;
	text-decoration: none;
}

.navigation-button:hover {
  border-radius: 26px;
  background-color: rgba(252, 252, 252, 0.5)
}

.navigation-button:focus {
  outline-offset: 0;
  outline: 2px solid #2D3440;
  border-radius: 26px;
  background-color: rgba(252, 252, 252, 0.5)
}

.navigation-button:active {
  outline: none;
  border-radius: 26px;
  background-color: #FCFCFC;
}

.user-button {
  display: flex;
  align-items: center;
  padding: 6px 17px;
  position: relative;
	font-size: 14px;
	line-height: 20px;
	color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 16px;
	text-decoration: none;
}

.user-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user-button:focus {
  outline-offset: 0;
  outline: 2px solid #2D3440;;
  background-color: rgba(252, 252, 252, 0.5);
}

.user-button:active {
  outline: none;
  background-color: #FCFCFC;
}

.user-icon {
  margin-right: 6px;
}

.header-search {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
	text-decoration: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-width: 0;
  border-radius: 50%;
}

.header-search:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.header-search:focus {
  outline-offset: 0;
  outline: 2px solid #2D3440;;
  background-color: rgba(252, 252, 252, 0.5);
}

.header-search:active {
  outline: none;
  background-color: #FCFCFC;
}

.circle-search {
  fill: #2D3440;
}

.search-popover {
  width: 356px;
  display: flex;
  position: absolute;
  left: -325px;
  top: 40px;
  padding: 24px 16px;
  box-sizing: border-box;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  z-index: 1;
}

.search-popover-off {
  display: none;
}

.input-search {
  flex-grow: 1;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  cursor: pointer;

}

.input-search::placeholder {
  color: #B9B9B9;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.input-search:hover {
  border-color: #2D3440;
}

.input-search:focus {
  border-color: #2D3440;
  outline: 1px solid #2D3440;
}

.input-search:disabled {
  color: #2D3440;
  background-color: #B9B9B9;
}

.input-search-clean {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  top: 40px;
  right: 29px;
  width: 16px;
  height: 16px;
  background-color: #FCFCFC;
  border: none;
  cursor: pointer;
  display: none;
}

.close-cross {
  fill: #B9B9B9;
}

.input-search:not(:placeholder-shown) + .input-search-clean {
  display: block;
}

.input-search-clean:hover .close-cross {
  fill: #242424;
}

.account-popover {
  width: 420px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 48px;
  position: absolute;
  right: 2px;
  top: 40px;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  z-index: 2;
}

.account-popover-off {
  display: none;
}

.login-form {
  display: grid;
  grid-template-areas:
  "login-field login-field"
  "password-field password-field"
  "account-popover-footer account-popover-footer";
}

.account-popover-footer {
  display: flex;
  grid-area: account-popover-footer;
  grid-column: span 2;
}


.login-links-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.popover-name {
  color: #242424;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 32px;
}

.account-input {
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.account-input::placeholder {
  color: #B9B9B9;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.account-input:hover {
  border-color: #2D3440;
}

.account-input:focus {
  border-color: #2D3440;
  outline: 1px solid #2D3440;
  outline-offset: 0;
}

.account-input:disabled {
  background-color: #565C66;
}

.login-field {
  margin-bottom: 12px;
  grid-area: "login-field";
  grid-column: span 2;
}

.password-field {
  margin-bottom: 32px;
  grid-area: "password-field";
  grid-column: span 2;
}

.login-button {
  width: 113px;
  align-self: flex-start;
  margin-right: 23px;
}

.login-help-link {
  line-height: 20px;
  font-size: 14px;
  color: #2D3440;
  text-decoration: none;
  border-bottom: 1px solid #242424 ;
}


.login-help-link:hover {
  border-color: #FCC850;
  color: #FCC850
}

.login-help-link:focus {
  outline: 2px solid #2D3440;
}

.login-help-link:active {
  color: #FF2F64;
  outline: none;
}

.empty-basket {
  width: 288px;
  padding: 48px;
  position: absolute;
  top: 40px;
  left: -192px;
  box-sizing: border-box;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);;
  z-index: 2;
  text-align: center;
}

.filled-basket-popover {
  width: 441px;
  padding: 48px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40px;
  left: -326px;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  z-index: 2;
}

.empty-basket-off,
.filled-basket-off {
  display: none;
}

.empty-basket {
  color: #242424;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  white-space: pre-line;
}

.basket-name {
  color: #242424;
  margin: 0;
  margin-bottom: 32px;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.basket-ice-ball {
  border-radius: 50%;
  margin-right: 16px;
}

.basket-list {
  padding: 0;
  margin: 0;
}

.basket-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.basket-item:last-of-type {
  margin-bottom: 60px;
}

.basket-item:last-of-type::after {
  content: "";
  position: absolute;
  top: 78px;
  width: 345px;
  height: 1px;
  background-color: #E7E7E7;
}

.delet-from-busket-button {
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FCFCFC;
  border: none;
  cursor: pointer;
}

.basket-ice-name {
  color: #242424;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 4px;
}

.inner-basket-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: left;
  margin-right: auto;
}

.kg-and-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.basket-price {
  color: #242424;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-right: 52px;
}

.basket-footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-order-button {
  margin-right: 32px;
}

.basket-total-price {
  color: #242424;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.shop-phone {
  padding: 8px 10px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	color: #2D3440;
	text-decoration: none;
  border-radius: 26px;
}

.shop-phone:hover {
  border-radius: 26px;
  background-color: rgba(252, 252, 252, 0.5)
}

.shop-phone:focus {
  outline-offset: 0;
  outline: 2px solid #2D3440;
  border-radius: 26px;
  background-color: rgba(252, 252, 252, 0.5)
}

.shop-phone:active {
  outline: none;
  border-radius: 26px;
  background-color: #FCFCFC;
}

/* ICE CREAM CAROUSEL*/

.ice-cream-carousel {
  position: relative;
  margin-bottom: 83px;
}

.ice-cream-item {
  display: flex;
}

.item-off {
  display: none;
}

.ice-cream-list {
  margin: 0;
  padding: 0;
}

.item-description-wrapper {
  width: 470px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 70px;

}

.ice-cream-wrapper {
  width: 630px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ice-cream-big-container {
  position: relative;
  width: 348px;
  margin-right: 41px;
}

.ice-cream-big-container::before {
  content: "";
  position: absolute;
  left: calc(50% - 312px/2 + 3px);
  top: calc(50% - 312px/2);
  width: 312px;
  height: 312px;
  background-color: #FFCBD8;
  border-radius: 50%;
  z-index: -1;
}

.ice-cream-big {
  display: block;
  margin: 0 auto;

}

.ice-cream-small-container {
  width: 100px;
  position: relative;
}

.ice-cream-small-container:not(:last-child) {
  margin-right: 41px;
}

.ice-cream-small {
  display: block;
  margin: 0 auto;
}

.ice-cream-small-container::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #FFCBD8;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.5;
}

.carousel-bottom-wrapper {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: baseline;
}

.ice-cream-name {
  margin: 0;
  margin-top: 115px;
  margin-bottom: 25px;
	font-weight: 900;
	font-size: 36px;
	line-height: 46px;
  color: #2D3440;
  white-space: pre-line;
}

.ice-cream-description {
  margin: 0;
  margin-bottom: 48px;
	font-size: 18px;
	line-height: 24px;
  color: #2D3440;
  white-space: pre-line;
}


.arrow {
  width: 38px;
  height: 38px;
  border: 2px solid #FCFCFC;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  position: absolute;
  z-index: 1;
}

.carousel-back-button {
  top: 237px;
  left: 543px;
}

.carousel-forward-button {
  top: 237px;
  left: 853px;
}

.arrow-carousel-container {
  position: relative;
}

.arrow:hover {
  background-color:#FCFCFC;
}

.arrow:focus {
  border-color: #242424;
  outline: none;
}

.arrow:active {
  border-color: #242424;
  background-color: #FF2F64;
}

.arrow:disabled {
  opacity: 0.4;
}

.arrow:hover .arrow-forward,
.arrow:focus .arrow-forward {
  fill: #2D3440;
}

.arrow:hover .arrow-back,
.arrow:focus .arrow-back{
  fill: #2D3440;
}

.arrow-forward {
  position: absolute;
  fill: #FCFCFC;
  left: 55%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.arrow-back {
  position: absolute;
  fill: #FCFCFC;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.ice-cream-pagination-item:not(:last-child) {
  margin-right: 8px;
}

.ice-cream-pagination {
  display: flex;
  padding: 0;
  margin: 0;
}


.ice-cream-pagination-link {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FFCBD8;
}

.ice-cream-pagination-link.pagination-current {
  background-color: #FCFCFC;
}

.ice-cream-pagination-link:hover {
  outline: 1px solid #FCFCFC;
  outline-offset: -1px;
  background-color: #FFCBD8;
}

.ice-cream-pagination-link:focus {
  outline: 1px solid #2D3440;
  outline-offset: -1px;
}

.ice-cream-pagination-link:active {
  outline: 1px solid #2D3440;
  outline-offset: -1px;
  background-color: #FF2F64;
}

.socials-list {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.social-link  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: 2px solid #FFCBD8;
  border-radius: 50%;
  margin-top: 0;
}

.social-item:not(:last-child) {
  margin-right: 16px;
}

.social-link:hover {
  background-color: #2D3440;
  /* outline: 1px solid #FCFCFC;
  outline-offset: -3px; */
}

.social-link:focus {
  background-color: #2D3440;
  border-color: #2D3440;
  outline: none;
}

.social-link:active {
  background-color: #FF2F64;
}

/* SHOP GIFTS */

.shop-gifts {
  margin-bottom: 80px;
}

.gift-list {
  width: 1170px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.gift-item-first {
  max-width: 570px;
	background-color: #FF7799;
	border-radius: 16px;
  padding: 40px;
  padding-right: 209px;
  background-image: url("../images/gifts/raspberries-gift.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 374px bottom ;
}

.gift-item-second {
  max-width: 570px;
	background-color: #FF7799;
	border-radius: 16px;
  padding: 40px;
  padding-right: 209px;
  background-image: url("../images/gifts/marshmallow-gift.png");
  background-repeat: no-repeat;
  background-position: right 7px bottom;
}

.gift-description-wrapper {
  width: 321px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.motivational-call {
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  white-space: pre-line
}

.gift-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 16px;
}

.gift-description {
  margin: 0;
  color: #2D3440;
  white-space: pre-line;
  margin-bottom: 32px;
}

/* SHOP POPULAR ITEMS (CATALOG CARDS)*/

.shop-popular {
  margin-bottom: 80px;
}

.shop-popular .motivational-call {
  margin-bottom: 107px;
}

.ice-cream-popular {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.popular-item,
.ice-cream-catalog-item {
  position: relative;
  width: 270px;
  display: flex;
  padding-bottom: 24px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #FCFCFC;
  background-size: 24px 24px;
  border-radius: 8px;
}

.ice-cream-catalog-item:not(:nth-child(n+9)) {
  margin-bottom: 91px;
}

.ice-cream-item-name {
  margin: 0;
  margin-bottom: 8px;
  padding-top: 133px;
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  order: 2;
}

.ice-cream-ball {
  position: absolute;
  top: -50px;
  border-radius: 50%;
  order: 1;
  align-self: center;
  margin-bottom: 12px;
}

.popular-description,
.catalog-item-description {
  max-width: 190px;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
  order: 3;
  align-self: center;
  white-space: pre-line;
}

.price-wrapper  {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 4;
}

.price {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin-right: 70px;
}

.basket-thumb {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border-radius: 26px;
  margin: 0;
}

.basket-card-icon {
  fill: #FCFCFC;
  margin-top: 2px;
}

.basket-thumb:hover {
  background-color: #FCFCFC;
  border: 2px solid #FF2F64;
  outline: none;
}

.basket-thumb:hover .basket-card-icon {
  fill: #2D3440
}

.basket-thumb:focus {
  border: 2px solid #2D3440;
  outline: none;
}

.basket-thumb:active {
  border: 2px solid #2D3440;
  outline: none;
  background-color: #FCC850;
}

.basket-thumb:disabled {
  background-color: #B9B9B9;
  fill: #2D3440;
}

/*SHOP BENEFITS*/

.shop-benefits {
  margin-bottom: 80px;
  padding: 24px;
  background-image: url("../images/backgrounds/waffle-field.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.benefits-wrapper {
  background-color: #FCFCFC;
  border-radius: 16px;
  padding-top: 56px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 56px;
}

.benefit-list {
  display: grid;
  grid-template-columns: 506px 506px;
  row-gap: 40px;
  column-gap: 32px;
  margin: 0 auto;
  padding: 0;
}

.benefit-item {
  display: grid;
  grid-template-columns: 48px auto;
  column-gap: 16px;

}

.benefit-description {
  white-space: pre-line;
  margin: 0;
}


.benefit-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
  margin: 0;
  margin-bottom: 56px;
}

/*BLOG AND SUBSCRIPTION*/

.blog-and-subscription-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}

.blog {
  width: 570px;
  background-image: url("../images/backgrounds/blog-field.jpg");
  background-repeat: no-repeat;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.blog-container {
  width: 303px;
  padding: 32px;
}

.blog-news {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.blog-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #2D3440;
}

.news-description {
  margin: 0;
  white-space: pre-line;
}

.subscription {
  display: flex;
  padding: 6px;
  box-sizing: border-box;
  background-image: url("../images/backgrounds/post-field.jpg");
  background-repeat: no-repeat;
  background-color: #FCFCFC;
  background-size: cover;
  border-radius: 16px;
}

.subscription-wrapper {
  padding-top: 26px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 26px;
  box-sizing: border-box;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.subscription-form {
  display: flex;
}

.subscription-field {
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  width: 332px;
  height: 48px;
  box-sizing: border-box;
  padding: 14px 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-right: 25px;
  cursor: pointer;
}

.subscription-field::placeholder {
  color: #B9B9B9;
}

.subscription-field:hover {
  border-color: #2D3440;
}

.subscription-field:hover {
  border-color: #2D3440;
  outline: 1px solid #2D3440;
  outline-offset: 0;
}

.subscription-field:disabled {
  background-color: #565C66;
}

.subscription-button {
  margin: -4px;
  margin-bottom: 0;
}

.subscription-description {
  margin: 0;
  margin-bottom: 42px;
  white-space: pre-line;
}

/*SHOP DELIVERY*/

.delivery {
  width: 1170px;
  min-height: 534px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  background-image: url("../images/backgrounds/delivery-field.jpg");
  background-repeat: no-repeat;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.delivery-description-wrapper {
  width: 371px;
  margin-right: 135px;
  margin-left: 100px;
}

.delivery-description {
  margin: 0;
}

.delivery-form {
  width: 500px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
  "form-description form-description form-description"
  "delivery-field-wrapper delivery-field-wrapper delivery-field-wrapper"
  "delivery-adress-wrapper delivery-adress-wrapper delivery-adress-wrapper"
  ". delivery-button .";
  padding: 40px;
  padding-top: 33px;  
  padding-bottom: 33px;
  background-color: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  margin-right: 64px;
}

.delivery-field-wrapper {
  grid-area: delivery-field-wrapper;
  display: grid;
  grid-template-columns: 117px 1fr;
  grid-template-areas:
  "date-label phone-label"
  "delivery-date delivery-phone";
  column-gap: 16px;
  margin-bottom: 20px;
}

.date-label {
  grid-area: date-label;
}

.phone-label {
  grid-area: phone-label;
}

.delivery-date {
  box-sizing: border-box;
  grid-area: delivery-date;
}

.delivery-date::placeholder {
  text-align: center;
}

.delivery-phone {
  grid-area: delivery-phone;
}

.delivery-adress-wrapper {
  grid-area: delivery-adress-wrapper;
  display: grid;
  margin-bottom: 32px;
}

.delivery-button {
  grid-area: delivery-button;
  align-self: center;
  padding: 12px 28px;
  margin-bottom: 4px;
}

.form-description {
  grid-area: form-description;
  margin: 0;
  margin-bottom: 32px;
  white-space: pre-line;
}

.delivery-form-label {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  margin-bottom: 8px;
}

.form-label {
  position: relative;
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
  width: 14px;
  height: 14px;
}

.tooltip-toggle {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #FF2F64
}

.tooltip-toggle:focus .tooltip-icon {
  color: #FCC850;
}

.tooltip-text {
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  top: -9px;
  left: 21px;
  width: 162px;
  white-space: pre-line;
  padding: 10px 8px;
  text-transform: none;
  text-align: left;
  color: #565c66;
  border: 1px solid #b9b9b9;
  border-radius: 2px;
  background-color: #fcfcfc;
  box-shadow: 0 4px 8px rgba(194, 194, 194, 0.2);
  display: none;
}
.tooltip-text::before {
  content: " ";
  position: absolute;
  top: 11px;
  left: -6.5px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border: 1px solid #b9b9b9;
  border-top: none;
  border-right: none;
  background-color: #fcfcfc;
}

.tooltip-toggle:hover .tooltip-text,
.tooltip-toggle:focus .tooltip-text {
  display: block;
}

.delivery-phone {
  flex-grow: 2;
}

.delivery-adress {
  margin: 0;
}

.delivery-title{
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 24px;
}

.delivery-field-name {
  margin: 0;
  margin-bottom: 20px;
}

.delivery-field {
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.delivery-field::placeholder {
  color: #B9B9B9;
  font-size: 16px;
  line-height: 20px;
}

.delivery-field:hover {
  border-color:#2D3440;
}

.delivery-field:focus {
  border-color: #2D3440;
  outline: 1px solid #2D3440;
  outline-offset: 0;
}

.delivery-field:disabled {
  background-color: #565C66;
}

/*SHOP REQUISITES*/

.shop-requisites {
  padding: 64px;
  padding-right: 0;
  background-image: url("../images/backgrounds/requisites-field.jpg");
  background-repeat: no-repeat;
  background-color: #FCFCFC;
  background-size: cover;
  border-radius: 16px;
}

.requisites-wrapper {
  width: 343px;
  box-sizing: border-box;
  background-color: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  padding: 40px;
  margin-right: auto;
}

.requisites-description {
  margin: 0;
  margin-bottom: 12px;
  white-space: pre-line;
}

.time-description {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
}

.adress-link {
  display: block;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
  white-space: pre-line
}

.phone-requisites {
  margin-bottom: 0;
}

/*MAIN FOOTER*/

.main-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  align-items: flex-start;
}

.footer-list {
  margin: 0 auto  ;
  margin-left: 324px;
  display: grid;
  grid-template-columns: 126px 182px;
  column-gap: 24px;
  row-gap: 4px;
  padding: 0;
}

.footer-item:first-child {
  position: relative;
}

.footer-item {
  white-space: nowrap;
}

.footer-item:first-child::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: -13%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.about-developer {
  white-space: nowrap;
  margin-right: 14px;
}

.about-developer .developer-link:first-of-type  {
  margin-bottom: 10px;
}

.who-did-description {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #242424;
}

.footer-link {
  font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #2D3440;
	text-decoration: none;
}

.footer-link:hover {
  color: #FCFCFC;
}

.footer-link:focus {
  outline: 2px solid #2D3440;
}

.footer-link:active {
  outline: none;
  color: #FF2F64;
}

.developer-link {
  display: inline-block;
  color: #2D3440;
}

.who-did-description .developer-link {
  border-bottom: 1px solid #565C66;
  text-decoration: none;
}

.developer-logo:hover {
  filter: brightness(0) saturate(100%) invert(95%) sepia(5%) saturate(0%) hue-rotate(5deg) brightness(102%) contrast(105%);
}

.developer-link:hover {
  color: #FCFCFC;
  border-color: #FCFCFC;
}

.developer-link:focus {
  outline: 2px solid #2D3440;
}

.developer-link:active {
  outline: none;
  color: #FF2F64;
}

.modal {
  width: 570px;
  position: relative;
  margin: auto;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.modal-container-off {
  display: none;
}

.modal-user-feedback {
  padding-top: 64px;
  padding-bottom: 66px;
  padding-right: 64px;
  padding-left: 64px;
}

.modal-login-form {
  display: flex;
  flex-direction: column;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 29px;
  right: 32px;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  background-color: #FCFCFC;
  border: none;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-description {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.modal-feedback-input {
  margin-bottom: 16px;
  padding: 12px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  font: inherit;
}

.modal-feedback-input::placeholder {
  color: #B9B9B9;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.modal-feedback-input:hover {
  border-color:#2D3440;
}

.modal-feedback-input:focus {
  border-color: #2D3440;
  outline: 1px solid #2D3440;
  outline-offset: 0;
}

.modal-feedback-input:disabled {
  background-color: #565C66;
}

.feedback-textarea {
  box-sizing: border-box;
  padding: 14px 16px;
  min-height: 149px;
  appearance: none;
  margin-bottom: 32px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  font: inherit;
  resize: none;
}

.feedback-textarea::placeholder {
  color: #B9B9B9;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.feedback-textarea:hover {
  border-color:#2D3440;
}

.feedback-textarea:focus {
  border-color: #2D3440;
  outline: 1px solid #2D3440;
  outline-offset: 0;
}

.feedback-textarea:disabled {
  background-color: #565C66;
}

.modal-feedback-button {
  margin-left: auto;
}

/*CATALOG HEADER*/

.catalog-inner-page {
  margin-top: 32px;
}

.inner-page-header {
  margin-bottom: 40px;
}

.catalog-filters {
  margin-bottom: 99px;
}

.navigation-button-current {
  color: #FFFFFF;
  border-radius: 26px;
  background-color: #FF4A78;
}

.navigation-button-current:hover {
  color:inherit;
}

.navigation-button-current:focus {
  color:#2D3440;
}

.inner-page-title {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
}


.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}


.breadcrumb-item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumb-item {
  position: relative;
}

.breadcrumb-item:not(:first-child)::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../images/icons/forward-arrows.svg);
  background-repeat: no-repeat;
  background-position: center;
  left: -19px;
  top: 6px;
}

.breadcrumb-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: underline;
}

.breadcrumb-link:hover {
  color: #FCFCFC;
}

.breadcrumb-link:focus {
  outline: 2px solid #2D3440;
}

.breadcrumb-link:active {
  color: #FF2F64;
  outline: none;
}

.breadcrumb-current {
  text-decoration: none;
}

/*CATALOG FILTERS*/

.catalog-filters, .filter-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.field-border-off {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-title {
  margin: 0;
  margin-bottom: 8px;
  margin-left: 15px;
}

.catalog-filter-form {
  display: grid;
  grid-template-areas:
  "sorting-filter range-filter radio-filter radio-filter"
  "checkbox-filter checkbox-filter checkbox-filter filters-button";
  column-gap: 24px;
  row-gap: 16px;
  justify-content: start;
}

.sorting-filter {
  grid-area: sorting-filter;
  display: grid;
}

.range-filter {
  grid-area: range-filter;
  display: grid;
}

.radio-filter {
  grid-area: radio-filter;
  display: grid;
}

.radio-filter,
.fat-percentage {
  cursor: pointer;
}

.checkbox-filter {
  grid-area: checkbox-filter;
  display: grid;
}

.products-selection {
  width: 196px;
  padding: 8px 16px;
  font: inherit;
  border-width: 0;
  border-radius: 20px;
  background-color: #FFCBD8;
  appearance: none;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 16px;
}

.products-selection:hover {
  background-color: #E7E7E7;
  cursor: pointer;
}

.products-selection:focus {
  outline: 2px solid #FCFCFC;
  outline-offset: -2px;
  border-width: 0;
}

.range-wrapper-inputs {
  display: flex;
  height: 20px;
  margin-left: 15px;
}

.range-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
  outline: none;
  border: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price-range-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 16px;
  border-radius: 20px;
  background-color: #FFCBD8;

}

.price-range-scale {
  position: relative;
  width: 164px;
  height: 2px;
  margin: 0;
  background-color: rgba(45, 52, 64, 0.3);
  border-radius: 2px;
  cursor: pointer;
}

.range-bar {
  position: absolute;
  height: 2px;
  margin: 0;
  background-color: #2D3440;
  border-radius: 2px;
  cursor: pointer;
}

.range-toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 0;
  border-width: 0;
  background-color: #2D3440;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  top: -7px;
  left: -16px;
}

.toggle-max {
  top: -7px;
  right: -16px;
}

.toggle-center-marker {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #FCFCFC;
}

.range-toggle:hover {
  background-color: #FCFCFC;
}

.range-toggle:focus {
  background-color: #FCFCFC;
  border-color: #FCFCFC;
  outline: 2px solid #2D3440;
}

.range-toggle:active {
  background-color: #2D3440;
  outline: none;
}

.range-toggle:hover .toggle-center-marker {
  background-color: #2D3440;
}

.range-toggle:focus .toggle-center-marker {
  background-color: #2D3440;
}

.range-toggle:active .toggle-center-marker {
  background-color: #2D3440;
}



.fat-list {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  margin: 0;
  border-radius: 20px;
  background-color: #FFCBD8;
}

.fat-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fat-item:first-child {
  margin-right: 18px;
}

.fat-item:nth-child(n+1) {
  margin-right: 16px;
}

.fat-item:last-child {
  margin-right: 0;
}

.fat-label {
  position: relative;
  display: flex;
  cursor: pointer;
}

.fat-input:not(checked) + .fat-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1.5px solid #2D3440;
  margin-right: 8px;
  align-self: center;
}

.fat-input:checked + .fat-label::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: 2px solid #2D3440;
  background-color: #2D3440;
  left: 5px;
  top: 7px;
}

.fat-input:hover + .fat-label::before {
  border-color: #FCFCFC;
}

.fat-input:focus + .fat-label::before {
  border-color: #FCFCFC;
}

.fat-input:active + .fat-label::before {
  border-color: #FF2F64;
}

.fat-input:hover + .fat-label::after {
  border-color: #FCFCFC;
  background-color: #FCFCFC;
}

.fat-input:focus + .fat-label::after {
  border-color: #FCFCFC;
  background-color: #FCFCFC;
}

.fillers-list {
  display: flex;
  padding: 8px 16px;
  margin: 0;
  border-radius: 20px;
  background-color: #FFCBD8;
  cursor: pointer;
}

.filler-item:not(:last-child) {
  margin-right: 16px;
}

.filler-item:nth-child(2) {
  margin-right: 24px;
}

.filler-name {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.filler-label {
  display: flex;
  position: relative;
  cursor: pointer;
}


.filler-input:not(checked) + .filler-label:before {
  content: url("../images/icons/empty-checkbox.svg");
  width: 16px;
  height: 16px;
  margin-right: 8px;
  align-self: center;
}

.filler-input:checked + .filler-label:before {
  content: url("../images/icons/filled-checkbox.svg");
  width: 16px;
  height: 16px;
  align-self: center;
}


.filler-input:hover + .filler-label:before {
  filter: brightness(0) saturate(100%) invert(95%) sepia(5%) saturate(0%) hue-rotate(5deg) brightness(102%) contrast(105%);
}

.filler-input:focus + .filler-label:before {
  filter: brightness(0) saturate(100%) invert(95%) sepia(5%) saturate(0%) hue-rotate(5deg) brightness(102%) contrast(105%);
}

.filler-input:active + .filler-label:before {
  filter: brightness(0) saturate(100%) invert(49%) sepia(91%) saturate(5978%) hue-rotate(328deg) brightness(102%) contrast(101%);
}


.filters-button {
  align-self: flex-end;
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  background-color: #FFCBD8;
  padding: 8px 53px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  cursor: pointer;
  
  
}

.filters-button:hover {
  border-color: #FFCBD8;
  background-color: #FCFCFC;
}

.filters-button:focus {
  border-color: #2D3440;
  outline: none;
}

.filters-button:active {
  background-color: #FCC850;
}

.filters-button:disabled {
  opacity: 0.4;
}

/*CATALOG*/

.ice-cream-catalog::after {
  content: "";
  display: block;
  width: 1170px;
  height: 1px;
  background-color: #FFCBD8;
  margin-top: 80px;
}

.ice-cream-catalog-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 57px;
}

.catalog-control-wrapper {
  display: flex;
}

.pagination-show-more {
  order: 1;
  margin-left: 494px;
  margin-right: auto;
  cursor: pointer;
  font-family: inherit;
}

.catalog-pagination {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  order: 2;
}

.pagination-item:first-child {
  margin-right: 16px;
}


.pagination-item:last-child {
  margin-left: 16px;
  
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  cursor: pointer;
}

.pagination-link.pagination-current {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FCFCFC;
  justify-content: center;
  align-items: center;
}

.pagination-link:hover {
  background-color: #FFCBD8;
  border-radius: 50%;
  outline: 1px solid #E7E7E7;
  outline-offset: -1px;
}

.pagination-link:focus {
  background-color: #FFCBD8;
  border-radius: 50%;
  outline: 1px solid #2D3440;
  outline-offset: -1px;
}

.pagination-link:active {
  outline: none;
  background-color: #FCFCFC;
  border-radius: 50%;
}


